

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin:10px;
  font-family: 'Open Sans', sans-serif;
}
h1{
  padding: 50px 0px;
}
.page {
  margin: 0 auto;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: magenta;
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited:hover {
  color: orange;
}

a:visited:active {
  color: green;
}

.button,
.button:link,
/* Change this */
.button:visited {
  /* Change this */
  text-decoration: none;
  /* Add this */
  color: #FFF;
  /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  text-align: center;
  border: 2px solid #5D6063;
  width: auto;
  height: auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;
  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;
  /* Blue */
}

img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.header-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 4px;
  column-gap: 5px;
  padding: 50px;
}
.main-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  row-gap: 30px;
  column-gap: 40px;
  padding: 50px;
}

.footer-container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 4px;
  column-gap: 5px;
  padding: 50px;
}